version: '3.8'

services:

  nginx:
    image: nginx:alpine # Light-weight Nginx image
    ports:
      - "80:80"         # Host port 80 -> container port 80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf  # Mount configuration
    depends_on:
      - fastapi-app     # Wait app to be ready
    networks:
      - app-network     # Shared network

  # FastAPI application
  fastapi-app:
    build: .            # Build this directory
    volumes:
      - ./app:/app/app                        # Mount code for hot-reload (development)
      - database_data:/app/data                # Shared database volume
    environment:
      - PYTHONPATH=/app                       # Python import path
      - DATABASE_PATH=/app/data/database.db   # Database path
    restart: unless-stopped                   # Automatic reload if crashes
    networks:
      - app-network                           # Shared network
    
    # NOTE: We don't directly expose the app - only via Nginx

# Data persistence volume
volumes:
  database_data:

# Personalized docker network
networks:
  app-network:
    driver: bridge  # Standard network driver
